body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
	    }
    }

    .ms_container {
        height: 100vh;

        .ms_choice {
            opacity: 0.2;
            cursor: pointer;
            transition: all 0.4s ease-in-out;
            &:hover {
                opacity: 1;
            }
        }

        .mjs_botChoice {
            opacity: 0.2;
            &:hover {
                cursor: not-allowed; 
            }
        }
    }
}

    