body {
    background-color: #3b3b3b;

    .ms_container {
        height: 100vh;

        .ms_choice {
            opacity: 0.2;
            cursor: pointer;
            transition: all 0.4s ease-in-out;
            &:hover {
                opacity: 1;
            }
        }
    }
}